{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<br>
    <div class="container">
        <h1 class="display-3 lettercol" >Bienvenidos al sitio de la libreria</h1>
        <p class="lead lettercol">Empezar a ingresar libros</p>
        <hr class="my-2">
        <p class="lettercol">More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Empezar</a>
        </p>
    </div>
<!--en el inicio se va a ver una introducción sobre la bibliografía de lolcito-->
{% endblock %}