{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<br>
    <div class="container">
        <h1 class="display-3 lettercol" >Bienvenidos a lolcito by Aarón</h1>
        <p class="lead lettercol">Texto X</p>
        <td>{{ fondo.title}}</td>
        <p class="lettercol">More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Empezar</a>
        </p>
    </div>
<!--en el inicio se va a ver una introducción sobre la bibliografía de lolcito-->
{% endblock %}